<div class = "row pt-5" >
    <div class="col-md-3"></div>
    <div class="col-md-6 col-mx-auto">
        <div class="card rounded-2">
            <div class="card-header">
                <h3 class="mb-0">
                    Login
                </h3>
            </div>
            <div class="alert "
                [class.alert-success] = "errorMessage === 'success' "
                [class.alert-danger] = " errorMessage === 'fail' "
                *ngIf = "errorMessage === 'fail'  || errorMessage === 'success' ">
                {{errorMessage}}
            </div>
            <div class="card-body">
                <form #userForm = "ngForm" (ngSubmit)="onSubmit()" novalidate>

                    <div class="form-group">
                        <label for="phone_number">Phone Number</label>
                        <input
                            type="number" name = "phone_number" #phone_number="ngModel" required
                            [(ngModel)] = "loginModel.phone_number"
                            pattern = "^\d{4}$"
                            [class.is-invalid] = "( phone_number.invalid && phone_number.touched ) "
                            (keypress)="($event.charCode >= 48 && $event.charCode < 58)"
                            class="form-control rounded-2 ">
                        <small class="text-danger" [class.d-none]="phone_number.valid || phone_number.untouched">
                            Phone number is required & must be exactly 4 chars long
                        </small>

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            type="text"
                            name= "password"
                            #password ="ngModel"
                            class="form-control rounded-2"
                            [(ngModel)] = "loginModel.password" required>
                        <small class="text-danger" [class.d-none]="password?.value?.length >= 4 || (password.valid || password.untouched)">
                            Password is required & must be 4 chars or longer
                        </small>

                    </div>
                    <button
                        class="btn btn-primary rounded-2 float-right"
                        [disabled]="userForm.form.invalid"
                        (click) = "loginClicked($event)"
                        >Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
